:root {
    --body-width: 80em;
}

body > pre {
    background-color: var(--md-code-bg-color-alt);
    padding: 1em;
    color: var(--md-plaintext-color-alt);
    overflow-x: scroll;
}

#toggle-theme {
    float: right;
}

#home {
    float: right;
}

#references {
    box-shadow: 0px 16px  teal;
}

#generated-time {
    float: right;
}

.reference-list {
    background-color: var(--md-code-bg-color);
    padding-bottom: 3px;
    padding-top: 3px;
    word-wrap: break-word;
    overflow-x: scroll;
}

.reference-list a, #home {
    color:var(--main-font-color-alt);
}

.reference-list a:visited {
    color:#6d3bf8;
}

.reference-list a:hover {
    background-color: var(--main-bg-color-highlight-light);
}
