.lesbian-flag {
  background: linear-gradient(red 0 14.28%, #ff7000 0 28.57%, #f93 0 42.85%, white 0 57.14%, #f5a 0 71.42%, #f49 0 85.71%, #e06 0);
}
  
#title {
  animation: lesbianator 1s infinite alternate;
}

@keyframes lesbianator {
  from {
    background: none;
  }

  to {
    background: linear-gradient(red 0 14.28%, #ff7000 0 28.57%, #f93 0 42.85%, white 0 57.14%, #f5a 0 71.42%, #f49 0 85.71%, #e06 0);
    transform:rotate3d(1, 1, 1, 5deg);
    border-radius: 10px;
  }
}

#gay {
  animation: gayspin 2.75s 3 alternate;
}

@keyframes gayspin {
  from {
    transform:rotate3d(1, 1, 1, 0deg);
    color:red;
    font-size: 20vw;
  }

  to {
    transform:rotate3d(10, 1, 10, 1000deg);
  }
}

.siterotate {
  animation: siterotate 10s;
}

@keyframes siterotate {
  from {
    transform:rotate3d(1, 1, 1, 0deg);
  }

  to {
    transform:rotate3d(1, 1, 1, 90deg);
  }
}

.container > img, .spin {
  animation: spin 2s infinite alternate;
}

@keyframes spin {
  from {
    transform:rotate3d(1, 1, 1, 0deg);
  }

  to {
    transform:rotate3d(0.1, 1, 10, 365deg);
  }
}

.flex-container * {
  transform: rotateY(30deg) translateZ(50px);
}

.background-flag {
  text-transform: uppercase;
  background-image: repeating-linear-gradient(
    -225deg,
    #D62900 0%,
    #FF9B55 10%,
    #FFFFFF 40%,
    #D461A6 60%,
    #A50062 80%,
    #D62900 99%
  );
}

.animate-background {
  background-size: 200% auto;
  animation: animate-background 2s linear infinite;
}

@keyframes animate-background {
  to {
    background-position: 200% center;
  }
}

@media (prefers-reduced-motion) {
  .animate-background {
    animation-duration: 8s;
  }
  .spin {
    animation-duration: 5s;
  }
  .container > img {
    animation: none;
  }
  .siterotate {
    animation: none;
  }
  #gay {
    animation-duration: 2s;
    animation-iteration-count: 4;
  }
  @keyframes gayspin {
    from {
      transform:rotate3d(0, 0, 0, 0deg);
      color:red;
    }
    to {
      transform:rotate3d(0, 1, 0, 45deg);
    }
  }
}