<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/code.css">
    <script src="../js/theme-toggle.js"></script>
  </head>
  <body>
    <button type="button" onclick="history.back();" class="hover-emphasis" id="back-button">↶ back</button>
    <button type="button" id="toggle-theme">Theme</button>
    {{ content }}
    <footer>
        <br>
        <p>tags: {{ page.tags }} </p>
        <a class="hover-emphasis" id="home" href="../index.html">site home</a>
        <p>license: {{ page.license }} - {{page.author}}</p>
        <p id="generated-time"> {{ site.time }}</p>
      </footer>
  </body>
</html>
