<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>
      :root {
         --body-width: 80em;
      }
      a:visited {
        color: #c678dd;
      }
    </style>
  </head>
  <body>
    <button type="button" onclick="history.back();" class="hover-emphasis" id="back-button">↶ back</button>
    {{ content }}
    <p id="generated-time"> {{ site.time }}</p>
  </body>
</html>
